@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');

html {
  font-family: system-ui;
}

.noto-emoji {
  font-family: 'Noto Emoji', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: grid;
  grid-template:
    '. a' max-content
    'b c' minmax(0, 1fr) / max-content minmax(0, 1fr);
  column-gap: 1.5rem;

  > header {
    grid-area: a;
  }

  > aside {
    grid-area: b;
  }

  > main {
    grid-area: c;
  }
}

aside ul {
  list-style-type: none;
  padding: 0;
}
