.main {
  display: grid;
  /* padding: 4rem; */
  min-height: 100vh;
  grid-template:
    's c' min-content
    'b c' min-content
    'a c' max-content
    '. c' min-content /
    max-content minmax(0, 1fr);
  row-gap: 1rem;
  column-gap: 2rem;
}

.main h1 {
  grid-area: s;
}

.controlsSection {
  grid-area: b;
}

.main :global(thead > tr:nth-of-type(2) > th) {
  text-align: left;
}

.description {
  grid-area: a;
  max-width: 40ch;
}

.results {
  grid-area: c;
}

.controls {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  row-gap: 0.5rem;
}

.main td,
.main th {
  padding: 4px 8px;
}

.main th {
  font-weight: 500;
}

.main label {
  font-weight: 500;
  font-size: 0.875rem;
}

.main dd {
  margin: 0;
}

.main dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

@media (width <= 1200px) {
  .main {
    grid-template:
      's s' min-content
      'a b' max-content
      'c c' min-content /
      minmax(0, 1fr) minmax(0, 1fr);
    padding: 0.25rem;
    row-gap: 0;
    column-gap: 1rem;
  }

  .controls {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .locales {
    max-width: 100%;
  }

  .results {
    padding: 0;
  }
}

@media (width <= 800px) {
  .main {
    grid-template:
      's' min-content
      'a' min-content
      'b' max-content
      'c' min-content /
      1fr;
    padding: 1rem;
    grid-column: unset;
  }
}

@media (width <= 700px) {
  .main {
    padding: 0.25rem;
  }

  .main td,
  .main th {
    padding: 0;
  }
}

@media (width >= 700px) {
  .main table {
    width: 100%;
  }
}
